In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
zori_diff_6 = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target_6_month.csv',
 index_col = 0) 

zori_diff_6.loc[:,'Time'] = zori_diff_6['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [4]:
zori_diff_6.head(7)

        Time  zip_code  delta_zori_ssa_6
0 2014-01-01     77494               NaN
1 2014-02-01     77494               NaN
2 2014-03-01     77494               NaN
3 2014-04-01     77494               NaN
4 2014-05-01     77494               NaN
5 2014-06-01     77494               NaN
6 2014-07-01     77494             -17.0

In [5]:
zori_diff_12 = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target_annual.csv',
 index_col = 0) 

zori_diff_12.loc[:,'Time'] = zori_diff_12['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [6]:
zori_diff_12.head(13)

         Time  zip_code  delta_zori_ssa_12
0  2014-01-01     77494                NaN
1  2014-02-01     77494                NaN
2  2014-03-01     77494                NaN
3  2014-04-01     77494                NaN
4  2014-05-01     77494                NaN
5  2014-06-01     77494                NaN
6  2014-07-01     77494                NaN
7  2014-08-01     77494                NaN
8  2014-09-01     77494                NaN
9  2014-10-01     77494                NaN
10 2014-11-01     77494                NaN
11 2014-12-01     77494                NaN
12 2015-01-01     77494              -32.0

In [7]:
############################################################################################## differenced zori

zori_diff = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target.csv',
 index_col = 0) 

zori_diff.loc[:,'Time'] = zori_diff['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [8]:
zori_diff.head(2)

        Time  zip_code  delta_zori_ssa
0 2014-01-01     77494             NaN
1 2014-02-01     77494            -3.0

In [9]:
############################################################################################## zori

zori = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_interpolated_target.csv',
 index_col = 0)


zori.loc[:,'Time'] = zori['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [10]:
zori.head(1)

        Time  zip_code  zori_ssa
0 2014-01-01     77494    1390.0

In [11]:
############################################################################################## acs

acs = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\acs_master11to18_clean.csv',
 index_col = 0)

In [12]:
acs.head(1)

,geo_id,male_pop,female_pop,median_age,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,median_income,income_per_capita,pop_determined_poverty_status,poverty,gini_index,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,occupied_housing_units,vacant_housing_units_for_rent,median_year_structure_built,married_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,median_rent,percent_income_spent_on_rent,owner_occupied_housing_units,aggregate_travel_time_to_work,commuters_by_public_transportation,high_school_diploma,bachelors_degree,employed_pop,unemployed_pop,pop_in_labor_force,armed_forces,year,Time
0,77494.0,27525.0,28283.0,33.9,36390.0,6630.0,3717.0,6882.0,7852.0,22.0,52.0,120111.0,42344.0,55713.0,1421.0,0.3568,18581.0,1207.0,17440.0,160.0,2004.0,13615.0,253.0,46.0,41.0,19418.0,1005.0,28.1,15334.0,767465.0,672.0,NaN,NaN,25437.0,1097.0,26534.0,0.0,2011,2011-01-01

In [13]:
############################################################################################## city unemployment rates

unemployment_rates = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\city_unemployment_rates.csv',
 index_col = 0) 

unemployment_rates.loc[:,'Time'] = unemployment_rates['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [14]:
unemployment_rates.head(1)

        Time   ur    metro  delta_ur  zip_code
0 2011-07-01  8.7  Houston       NaN     77450

In [15]:
############################################################################################## spc housing index

sap_case = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\sap_case_shiller.csv',
 index_col = 0)

sap_case.loc[:,'Time'] = sap_case['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [16]:
sap_case.head(1)

,metro,zip_code,State,Time,sap_case_shiller_index,delta_sap_case_shiller_index
0,Austin,78727,TX,2011-06-01,141.946,NaN

In [17]:
############################################################################################## ten year note

tnx = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\monthly_tnx.csv',
 index_col = 0)

tnx.loc[:,'Time'] = tnx['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [18]:
tnx.head(1)

    metro  zip_code State       Time    TNX  delta_TNX
0  Austin     78727    TX 2010-01-01  3.609        NaN

In [19]:
############################################################################################## state monthly gas prices 

monthly_gas = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\monthly_avg_gas_prices.csv',
 index_col = 0)


monthly_gas.loc[:,'Time'] = monthly_gas['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [20]:
monthly_gas.head(1)

,Time,monthly_avg_gas_price,delta_monthly_avg_gas_price,State,metro,zip_code
0,2000-06-01,1.499,NaN,TX,Austin,78727

In [21]:
############################################################################################## weather

weather = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\weather.csv',
 index_col = 0)

# weather.rename(columns = {'date_time':'Time','zip':'zip_code'},inplace = True)


# weather.loc[:,'Time'] = weather['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [22]:
weather.head(1)

         Time  zip_code  mintempC   maxtempC  precipMM
0  2012-01-01     78727  6.806452  16.967742  2.419355

In [23]:
############################################################################################## key econ

key_econ = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\key_econ.csv',index_col = 0)#,parse_dates= {'Time':['Month', 'Year']})

#key_econ.loc[:,'Time'] = key_econ['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [24]:
key_econ.head(1)

,Time,zip_code,Consumer Confidence Index TX,Consumer Confidence West South Central,Consumer Confidence Index US,Consumer Price Index TX,Consumer Price Index U.S.,Nonfarm Employment TX,Nonfarm Employment U.S.,Unemployment TX,Unemployment U.S.,Single Family Building Permits TX,Multi Family Building Permits TX,Existing Single Family Home Sales TX,Existing Single Family Home Price TX,Non Residential Building Construction,Total Sales Tax Collections Retail TX,Total Sales Tax Collections TX,Retail Gasoline Price TX,Retail Diesel Price TX,Nonfarm Employment Illinois,Nonfarm Employment Florida,Nonfarm Employment New York,Nonfarm Employment Texas,Nonfarm Employment California,Gross Value Crude Oil Production,Gross Value Natural Gas Production,Motor Fuel Taxed Gasoline,Motor Fuel Taxed Diesel
0,2012-01-01,77494,NaN,89.855,61.511,205.281,226.665,10.753,133.25,7.1,8.3,5230.0,4654.0,12613.0,137000.0,1050.07,888.271,2009.91,3.208,3.757,5719.5,7325.1,8779.4,10752.8,14594.8,4552.64,2757.83,1019.4,321.8

In [25]:
############################################################################################## poll_clean

poll = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\poll_clean.csv',
 index_col = 0)#.drop(['month','year'], axis = 1)

# poll.rename(columns = {'date':'Time','zip_codes':'zip_code'},inplace = True)

# poll.loc[:,'Time'] = poll['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [26]:
poll.head(1)

,Time,tx_is_a_lot_better,tx_is_a_little_better,tx_is_abt_same,tx_is_a_little_worse,tx_is_a_lot_worse,tx_is_dont_know,tx_is_better,tx_is_worse,zip_code
0,2011-02-01,3.0,17.0,45.0,24.0,11.0,1.0,20.0,35.0,77494

In [27]:
############################################################################################## new biz outlet !

new_biz_out = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\new_biz_outlet.csv',index_col = 0)#,
 #index_col = 1,parse_dates= {'Time':['month', 'year']})

#new_biz_out.loc[:,'Time'] = new_biz_out['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [28]:
new_biz_out.head(1)

,Time,zip_code,outlet_count,outlet_taxpayer_non_tx,outlet_org_type_cl,outlet_org_type_is,outlet_org_type_foreign,outlet_non_tx_ratio,outlet_cl_ratio,outlet_is_ratio,outlet_foreign_ratio
0,2012-01-01,77494,11.0,2.0,1.0,3.0,2.0,0.181818,0.090909,0.272727,0.181818

In [29]:
############################################################################################## covid_clean

covid = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\covid_clean.csv',
 index_col = 0)#,parse_dates= {'Time':['month', 'year']})

# covid.loc[:,'Time'] = covid['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [30]:
covid.head(1)

         Time  zip_code  county  fatalities  caseCount
0  2012-01-01   75002.0  collin         0.0        0.0

In [31]:
############################################################################################## env_violation


env_vio = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\env_violation.csv',
 index_col = 0)

#env_vio.rename(columns = {'date':'Time','zip':'zip_code'},inplace = True)

#env_vio.loc[:,'Time'] = env_vio['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [32]:
env_vio.head(1)

         Time  zip_code  env_violation_count
0  2012-01-01     78727                  0.0

In [33]:
############################################################################################## new_biz_taxpayer

new_biz_taxpayer = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\new_biz_taxpayer.csv',index_col = 0)#,
 #index_col = 1,parse_dates= {'Time':['month', 'year']})

#new_biz_taxpayer.loc[:,'Time'] = new_biz_taxpayer['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [34]:
new_biz_taxpayer.head(1)

,Time,zip_code,taxpayer_count,taxpayer_org_type_cl,taxpayer_org_type_is,taxpayer_org_type_foreign,payer_outlet_same_zipcode,taxpayer_same_zip_ratio,taxpayer_cl_ratio,taxpayer_is_ratio,taxpayer_foreign_ratio
0,2012-01-01,77494,10.0,4.0,3.0,0.0,6.0,0.6,0.4,0.3,0.0

In [35]:
############################################################################################## sales_tax_allocation 

sales_tax_alloc = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\sales_tax_allocation.csv',
 index_col = 0)#,parse_dates= {'Time':['month', 'year']})

#sales_tax_alloc.loc[:,'Time'] = sales_tax_alloc['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

In [36]:
sales_tax_alloc.head(1)

,Time,zip_code,sales_tax_rate,total_sales_tax,total_sales_tax_last_year,per_diff_total_sales_tax,city
2580,2013-01-01,77494,1.0,832941.14,716157.82,16.3,KATY

In [37]:
print(zori.shape,zori.columns,'\n')
print(zori_diff.shape,zori_diff.columns,'\n')
print(zori_diff_6.shape,zori_diff_6.columns,'\n')
print(zori_diff_12.shape,zori_diff_12.columns,'\n')
print(sales_tax_alloc.shape,sales_tax_alloc.columns,'\n')
print(new_biz_taxpayer.shape,new_biz_taxpayer.columns,'\n')
print(new_biz_out.shape,new_biz_out.columns,'\n')
print(covid.shape,covid.columns,'\n')
print(env_vio.shape,env_vio.columns,'\n')
print(poll.shape,poll.columns,'\n')
print(key_econ.shape,key_econ.columns,'\n')
print(weather.shape,weather.columns,'\n')
print(unemployment_rates.shape,unemployment_rates.columns,'\n')
print(sap_case.shape,sap_case.columns,'\n')
print(tnx.shape,tnx.columns,'\n')
print(monthly_gas.shape,monthly_gas.columns,'\n')

(19565, 3) Index(['Time', 'zip_code', 'zori_ssa'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa_6'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa_12'], dtype='object')

(22360, 7) Index(['Time', 'zip_code', 'sales_tax_rate', 'total_sales_tax',
       'total_sales_tax_last_year', 'per_diff_total_sales_tax', 'city'],
      dtype='object')

(24940, 11) Index(['Time', 'zip_code', 'taxpayer_count', 'taxpayer_org_type_cl',
       'taxpayer_org_type_is', 'taxpayer_org_type_foreign',
       'payer_outlet_same_zipcode', 'taxpayer_same_zip_ratio',
       'taxpayer_cl_ratio', 'taxpayer_is_ratio', 'taxpayer_foreign_ratio'],
      dtype='object')

(24940, 11) Index(['Time', 'zip_code', 'outlet_count', 'outlet_taxpayer_non_tx',
       'outlet_org_type_cl', 'outlet_org_type_is', 'outlet_org_type_foreign',
       'outlet_non_tx_ratio', 'outlet_cl_ratio', 'outlet_is_ratio',
       'outlet_foreign_ratio'],
      dtype='object')

(24940, 5) Index(['Time', 'zip_code', 'county', 'fatalities', 'caseCount'], dtype='object')

(24940, 3) Index(['Time', 'zip_code', 'env_violation_count'], dtype='object')

(27305, 10) Index(['Time', 'tx_is_a_lot_better', 'tx_is_a_little_better', 'tx_is_abt_same',
       'tx_is_a_little_worse', 'tx_is_a_lot_worse', 'tx_is_dont_know',
       'tx_is_better', 'tx_is_worse', 'zip_code'],
      dtype='object')

(24940, 29) Index(['Time', 'zip_code', 'Consumer Confidence Index TX',
       'Consumer Confidence West South Central',
       'Consumer Confidence Index US', 'Consumer Price Index TX',
       'Consumer Price Index U.S.', 'Nonfarm Employment TX',
       'Nonfarm Employment U.S.', 'Unemployment TX', 'Unemployment U.S.',
       'Single Family Building Permits TX', 'Multi Family Building Permits TX',
       'Existing Single Family Home Sales TX',
       'Existing Single Family Home Price TX',
       'Non Residential Building Construction',
       'Total Sales Tax Collections Retail TX',
       'Total Sales Tax Collections TX', 'Retail Gasoline Price TX',
       'Retail Diesel Price TX', 'Nonfarm Employment Illinois',
       'Nonfarm Employment Florida', 'Nonfarm Employment New York',
       'Nonfarm Employment Texas', 'Nonfarm Employment California',
       'Gross Value Crude Oil Production',
       'Gross Value Natural Gas Production', 'Motor Fuel Taxed Gasoline',
       'Motor Fuel Taxed Diesel'],
      dtype='object')

(24940, 5) Index(['Time', 'zip_code', 'mintempC', 'maxtempC', 'precipMM'], dtype='object')

(26015, 5) Index(['Time', 'ur', 'metro', 'delta_ur', 'zip_code'], dtype='object')

(26015, 6) Index(['metro', 'zip_code', 'State', 'Time', 'sap_case_shiller_index',
       'delta_sap_case_shiller_index'],
      dtype='object')

(30100, 6) Index(['metro', 'zip_code', 'State', 'Time', 'TNX', 'delta_TNX'], dtype='object')

(54825, 6) Index(['Time', 'monthly_avg_gas_price', 'delta_monthly_avg_gas_price', 'State',
       'metro', 'zip_code'],
      dtype='object')

In [39]:
##############################################################################################

dfs = [zori,zori_diff,zori_diff_6,zori_diff_12,
       sales_tax_alloc,new_biz_taxpayer,new_biz_out,
       covid,env_vio,poll,key_econ,weather,
       unemployment_rates,sap_case,tnx,monthly_gas] 

# Finding order to left merge everything

row_counts = [df.shape[0] for df in dfs]
row_counts = pd.DataFrame(list(enumerate(row_counts))).sort_values(by = 1, ascending = False)
merge_index_order = list(row_counts[0])
merge_index_order

[15, 14, 9, 12, 13, 5, 6, 7, 8, 10, 11, 4, 0, 1, 2, 3]

### Making sure Time is the same dtype for all dataframes

In [40]:
for df in dfs:
    
    df.loc[:,'Time'] = df['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m'))

for df in dfs:
    print(df.dtypes)

Time        datetime64[ns]
zip_code             int64
zori_ssa           float64
dtype: object
Time              datetime64[ns]
zip_code                   int64
delta_zori_ssa           float64
dtype: object
Time                datetime64[ns]
zip_code                     int64
delta_zori_ssa_6           float64
dtype: object
Time                 datetime64[ns]
zip_code                      int64
delta_zori_ssa_12           float64
dtype: object
Time                         datetime64[ns]
zip_code                              int64
sales_tax_rate                      float64
total_sales_tax                     float64
total_sales_tax_last_year           float64
per_diff_total_sales_tax            float64
city                                 object
dtype: object
Time                         datetime64[ns]
zip_code                              int64
taxpayer_count                      float64
taxpayer_org_type_cl                float64
taxpayer_org_type_is                float64
taxpayer_org_type_foreign           float64
payer_outlet_same_zipcode           float64
taxpayer_same_zip_ratio             float64
taxpayer_cl_ratio                   float64
taxpayer_is_ratio                   float64
taxpayer_foreign_ratio              float64
dtype: object
Time                       datetime64[ns]
zip_code                            int64
outlet_count                      float64
outlet_taxpayer_non_tx            float64
outlet_org_type_cl                float64
outlet_org_type_is                float64
outlet_org_type_foreign           float64
outlet_non_tx_ratio               float64
outlet_cl_ratio                   float64
outlet_is_ratio                   float64
outlet_foreign_ratio              float64
dtype: object
Time          datetime64[ns]
zip_code             float64
county                object
fatalities           float64
caseCount            float64
dtype: object
Time                   datetime64[ns]
zip_code                        int64
env_violation_count           float64
dtype: object
Time                     datetime64[ns]
tx_is_a_lot_better              float64
tx_is_a_little_better           float64
tx_is_abt_same                  float64
tx_is_a_little_worse            float64
tx_is_a_lot_worse               float64
tx_is_dont_know                 float64
tx_is_better                    float64
tx_is_worse                     float64
zip_code                          int64
dtype: object
Time                                      datetime64[ns]
zip_code                                           int64
Consumer Confidence Index TX                     float64
Consumer Confidence West South Central           float64
Consumer Confidence Index US                     float64
Consumer Price Index TX                          float64
Consumer Price Index U.S.                        float64
Nonfarm Employment TX                            float64
Nonfarm Employment U.S.                          float64
Unemployment TX                                  float64
Unemployment U.S.                                float64
Single Family Building Permits TX                float64
Multi Family Building Permits TX                 float64
Existing Single Family Home Sales TX             float64
Existing Single Family Home Price TX             float64
Non Residential Building Construction            float64
Total Sales Tax Collections Retail TX            float64
Total Sales Tax Collections TX                   float64
Retail Gasoline Price TX                         float64
Retail Diesel Price TX                           float64
Nonfarm Employment Illinois                      float64
Nonfarm Employment Florida                       float64
Nonfarm Employment New York                      float64
Nonfarm Employment Texas                         float64
Nonfarm Employment California                    float64
Gross Value Crude Oil Production                 float64
Gross Value Natural Gas Production               float64
Motor Fuel Taxed Gasoline                        float64
Motor Fuel Taxed Diesel                          float64
dtype: object
Time        datetime64[ns]
zip_code             int64
mintempC           float64
maxtempC           float64
precipMM           float64
dtype: object
Time        datetime64[ns]
ur                 float64
metro               object
delta_ur           float64
zip_code             int64
dtype: object
metro                                   object
zip_code                                 int64
State                                   object
Time                            datetime64[ns]
sap_case_shiller_index                 float64
delta_sap_case_shiller_index           float64
dtype: object
metro                object
zip_code              int64
State                object
Time         datetime64[ns]
TNX                 float64
delta_TNX           float64
dtype: object
Time                           datetime64[ns]
monthly_avg_gas_price                 float64
delta_monthly_avg_gas_price           float64
State                                  object
metro                                  object
zip_code                                int64
dtype: object

# merging all feature df's

In [ ]:
def time_lag_merge(df_1, df_2,lag_dictionary = {},return_cols = False):
    '''
    Parameters
    ----------
    df_1 : pandas Dataframe
        left dataframe that has a 'zip_code' and 'Time' column.
    df_2 : pandas Dataframe
        right dataframe that has a 'zip_code' and 'Time' column.
    lag_dictionary : dictionary
        keys are number of months you want to lag. 
        values are lists of columns that you want to have that lag.

    Returns
    -------
    df_1_ : pandas Dataframe
        dataframe to have new lagged columns.
    '''
    if lag_dictionary:
        df_1_ = df_1.copy()
        for lag in lag_dictionary.keys():
            df_2_ = df_2.copy()
            df_2_.loc[:,'Time'] = df_2_.loc[:,'Time'] + pd.DateOffset(months=lag)
            df_1_ = df_1_.merge(df_2_[lag_dictionary[lag]+['zip_code','Time']], 
                                how = 'left', on = ['zip_code','Time'], 
                                suffixes = (None,f'_{lag}_month_shift'))
    else:
        df_1_ = df_1.merge(df_2, how = 'left', on = ['zip_code','Time'],
                          suffixes = (None,'_right'))
    if return_cols:
        return df_1_, list(set(df_1_.columns) - set(df_1.columns))
    else:
        return df_1_

In [ ]:
def left_merger(bigger_df,smaller_df):
    
    """
    left merges two dataframes on their shared columns
    """
    
    
    
    a = list(bigger_df.columns)
    b = list(smaller_df.columns)
    shared_columns = list(set(a).intersection(b))
    
    merged = pd.merge(bigger_df,smaller_df,how = 'left', on = shared_columns)
    
    return merged

In [ ]:
def left_merger(df_1,df_2):
    
    """
    left merges onto the larger of two dataframes by their shared columns
    
    df_1: dataframe 1
    
    df_2: dataframe 2
    
    """
    if (len(list(set(list(df_1.columns)).intersection(list(df_2.columns)))) == 0):
        
        raise ValueError('dataframes have no shared columns to merge on!!')
    
    
    if (df_1.shape[0]>= df_2.shape[0]):
        
        a = list(df_1.columns)
        b = list(df_2.columns)
        shared_columns = list(set(a).intersection(b))
        merged = pd.merge(df_1,df_2,how = 'left', on = shared_columns)
        
    else:
        
        a = list(df_1.columns)
        b = list(df_2.columns)
        shared_columns = list(set(a).intersection(b))
        merged = pd.merge(df_2,df_1,how = 'left', on = shared_columns)
        
    return merged

In [ ]:
def shared_columns(df_1,df_2):
    
    return list(set(list(df_1.columns)).intersection(list(df_2.columns)))

In [ ]:
print(shared_columns(dfs[merge_index_order[0]],dfs[merge_index_order[1]]))
merged = left_merger(dfs[merge_index_order[0]],dfs[merge_index_order[1]])

for i in range(2,len(merge_index_order)):
    
    print(shared_columns(merged,dfs[merge_index_order[i]]))
    
    merged = left_merger(merged,dfs[merge_index_order[i]])

In [ ]:
merged.columns

In [ ]:
merged['Time']

In [ ]:
corrs = merged.drop(['Time','zip_code'], axis = 1).corr()

px.imshow(corrs[['delta_zori_ssa_6']].sort_values(by = 'delta_zori_ssa_6',ascending = False).T
          ,aspect = 1,width = 1000,height = 600,color_continuous_scale = 'bluered',title = 'Correlation Heat Map')

In [ ]:
corrs.index

# Trying a Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [ ]:
data = merged[['Time','zip_code','delta_zori_ssa','delta_sap_case_shiller_index','Single Family Building Permits TX','Total Sales Tax Collections TX','Gross Value Natural Gas Production']]

In [ ]:
data = data.loc[~data['delta_zori_ssa'].isna()]

In [ ]:
data = data.loc[~data.isna().any(axis = 1)]

In [ ]:
data.loc[:,'Date'] = data['Time'].apply(lambda x: str(x)[:-9])

In [ ]:
data = data.set_index('Date')

In [ ]:
train = data.loc['2014-02-01':'2021-01-01',:]
test = data.loc['2021-01-01':,:]

In [ ]:
train.columns

In [ ]:
train = train.reset_index()
test = test.reset_index()

In [ ]:
train.head(50)

In [ ]:
import time

X_train = train.drop(['delta_zori_ssa','Time','zip_code'],axis = 1)
X_test = test.drop(['delta_zori_ssa','Time','zip_code'],axis = 1)
y_train = train['delta_zori_ssa']
y_test = test['delta_zori_ssa']



randomForest = RandomForestRegressor()

da_grid = {'n_estimators':[200],
           'criterion':['mse'],
           'max_depth':[20]}

grid_search_forest = GridSearchCV(estimator = randomForest, param_grid = da_grid, cv = 3)

start_time = time.time()

grid_search_forest.fit(X_train,y_train)

print(time.time() - start_time)

In [ ]:
grid_search_forest.score(X_train,y_train)

In [ ]:
grid_search_forest.score(X_test,y_test)

In [ ]:
print("Best Parameters: ",grid_search_forest.best_params_,"\n\n",
      "Mean cross-validated score of the best_estimator: ",grid_search_forest.best_score_,"\n")

best_forest = grid_search_forest.best_estimator_
feature_importance = [i for i in zip(X_train.columns,best_forest.feature_importances_)]
feature_importance = sorted(feature_importance,key = lambda x: x[1],reverse = True)

FI = pd.DataFrame(feature_importance,columns = ['feature','importance'])

fig = px.bar(data_frame = FI.iloc[:,:],
             x = 'feature',
             y = 'importance',
             title = "Feature Importance",
             color = 'importance')
fig.show()