In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [15]:
zori_diff_6 = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target_6_month.csv',
 index_col = 0) 

zori_diff_6.loc[:,'Time'] = zori_diff_6['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

zori_diff_12 = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target_annual.csv',
 index_col = 0) 

zori_diff_12.loc[:,'Time'] = zori_diff_12['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## differenced zori

zori_diff = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_differenced_interpolated_target.csv',
 index_col = 0) 

zori_diff.loc[:,'Time'] = zori_diff['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## zori

zori = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\long_interpolated_target.csv',
 index_col = 0)


zori.loc[:,'Time'] = zori['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format



############################################################################################## acs


acs = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\merged_acs_data.csv',
 index_col = 0)

############################################################################################## city unemployment rates

unemployment_rates = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\city_unemployment_rates.csv',
 index_col = 0) 

unemployment_rates.loc[:,'Time'] = unemployment_rates['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## spc housing index

sap_case = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\sap_case_shiller.csv',
 index_col = 0)

sap_case.loc[:,'Time'] = sap_case['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## ten year note

tnx = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\monthly_tnx.csv',
 index_col = 0)

tnx.loc[:,'Time'] = tnx['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## state monthly gas prices 

monthly_gas = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\monthly_avg_gas_prices.csv',
 index_col = 0)


monthly_gas.loc[:,'Time'] = monthly_gas['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## weather

weather = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\weather.csv',
 index_col = 0)

# weather.rename(columns = {'date_time':'Time','zip':'zip_code'},inplace = True)


# weather.loc[:,'Time'] = weather['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## key econ

key_econ = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\key_econ.csv',index_col = 0)#,parse_dates= {'Time':['Month', 'Year']})

#key_econ.loc[:,'Time'] = key_econ['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## poll_clean

poll = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\poll_clean.csv',
 index_col = 0)#.drop(['month','year'], axis = 1)

# poll.rename(columns = {'date':'Time','zip_codes':'zip_code'},inplace = True)

# poll.loc[:,'Time'] = poll['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## new biz outlet !

new_biz_out = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\new_biz_outlet.csv',index_col = 0)#,
 #index_col = 1,parse_dates= {'Time':['month', 'year']})

#new_biz_out.loc[:,'Time'] = new_biz_out['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## covid_clean

covid = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\covid_clean.csv',
 index_col = 0)#,parse_dates= {'Time':['month', 'year']})

# covid.loc[:,'Time'] = covid['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## env_violation
env_vio = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\env_violation.csv',
 index_col = 0)

#env_vio.rename(columns = {'date':'Time','zip':'zip_code'},inplace = True)

#env_vio.loc[:,'Time'] = env_vio['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## new_biz_taxpayer

new_biz_taxpayer = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\new_biz_taxpayer.csv',index_col = 0)#,
 #index_col = 1,parse_dates= {'Time':['month', 'year']})

#new_biz_taxpayer.loc[:,'Time'] = new_biz_taxpayer['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

############################################################################################## sales_tax_allocation 

sales_tax_alloc = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\sales_tax_allocation.csv',
 index_col = 0)#,parse_dates= {'Time':['month', 'year']})

#sales_tax_alloc.loc[:,'Time'] = sales_tax_alloc['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m')) #converting time to datetime format

rent_search = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\rent_search_trend.csv',
 index_col = 0)

real_dispos = pd.read_csv\
(r'C:\Users\robla\Desktop\nycdsa\Capstone\cleaned_data\cleaned_data\real_dispos.csv',
 index_col = 0)

In [16]:
print(zori.shape,zori.columns,'\n')
print(zori_diff.shape,zori_diff.columns,'\n')
print(zori_diff_6.shape,zori_diff_6.columns,'\n')
print(zori_diff_12.shape,zori_diff_12.columns,'\n')
print(sales_tax_alloc.shape,sales_tax_alloc.columns,'\n')
print(new_biz_taxpayer.shape,new_biz_taxpayer.columns,'\n')
print(new_biz_out.shape,new_biz_out.columns,'\n')
print(covid.shape,covid.columns,'\n')
print(env_vio.shape,env_vio.columns,'\n')
print(poll.shape,poll.columns,'\n')
print(key_econ.shape,key_econ.columns,'\n')
print(weather.shape,weather.columns,'\n')
print(unemployment_rates.shape,unemployment_rates.columns,'\n')
print(sap_case.shape,sap_case.columns,'\n')
print(acs.shape,acs.columns,'\n')
print(tnx.shape,tnx.columns,'\n')
print(monthly_gas.shape,monthly_gas.columns,'\n')
print(rent_search.shape,rent_search.columns,'\n')
print(real_dispos.shape,real_dispos.columns,'\n')

(19565, 3) Index(['Time', 'zip_code', 'zori_ssa'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa_6'], dtype='object')

(19565, 3) Index(['Time', 'zip_code', 'delta_zori_ssa_12'], dtype='object')

(22360, 7) Index(['Time', 'zip_code', 'sales_tax_rate', 'total_sales_tax',
       'total_sales_tax_last_year', 'per_diff_total_sales_tax', 'city'],
      dtype='object')

(24940, 11) Index(['Time', 'zip_code', 'taxpayer_count', 'taxpayer_org_type_cl',
       'taxpayer_org_type_is', 'taxpayer_org_type_foreign',
       'payer_outlet_same_zipcode', 'taxpayer_same_zip_ratio',
       'taxpayer_cl_ratio', 'taxpayer_is_ratio', 'taxpayer_foreign_ratio'],
      dtype='object')

(24940, 11) Index(['Time', 'zip_code', 'outlet_count', 'outlet_taxpayer_non_tx',
       'outlet_org_type_cl', 'outlet_org_type_is', 'outlet_org_type_foreign',
       'outlet_non_tx_ratio', 'outlet_cl_ratio', 'outlet_is_ratio',
       'outlet_foreign_ratio'],
      dtype='object')

(24940, 5) Index(['Time', 'zip_code', 'county', 'fatalities', 'caseCount'], dtype='object')

(24940, 3) Index(['Time', 'zip_code', 'env_violation_count'], dtype='object')

(27305, 10) Index(['Time', 'tx_is_a_lot_better', 'tx_is_a_little_better', 'tx_is_abt_same',
       'tx_is_a_little_worse', 'tx_is_a_lot_worse', 'tx_is_dont_know',
       'tx_is_better', 'tx_is_worse', 'zip_code'],
      dtype='object')

(24940, 29) Index(['Time', 'zip_code', 'Consumer Confidence Index TX',
       'Consumer Confidence West South Central',
       'Consumer Confidence Index US', 'Consumer Price Index TX',
       'Consumer Price Index U.S.', 'Nonfarm Employment TX',
       'Nonfarm Employment U.S.', 'Unemployment TX', 'Unemployment U.S.',
       'Single Family Building Permits TX', 'Multi Family Building Permits TX',
       'Existing Single Family Home Sales TX',
       'Existing Single Family Home Price TX',
       'Non Residential Building Construction',
       'Total Sales Tax Collections Retail TX',
       'Total Sales Tax Collections TX', 'Retail Gasoline Price TX',
       'Retail Diesel Price TX', 'Nonfarm Employment Illinois',
       'Nonfarm Employment Florida', 'Nonfarm Employment New York',
       'Nonfarm Employment Texas', 'Nonfarm Employment California',
       'Gross Value Crude Oil Production',
       'Gross Value Natural Gas Production', 'Motor Fuel Taxed Gasoline',
       'Motor Fuel Taxed Diesel'],
      dtype='object')

(24940, 5) Index(['Time', 'zip_code', 'mintempC', 'maxtempC', 'precipMM'], dtype='object')

(26015, 5) Index(['Time', 'ur', 'metro', 'delta_ur', 'zip_code'], dtype='object')

(26015, 6) Index(['metro', 'zip_code', 'State', 'Time', 'sap_case_shiller_index',
       'delta_sap_case_shiller_index'],
      dtype='object')

(23112, 84) Index(['zip_code', 'white_pop', 'black_pop', 'hispanic_pop',
       'female_female_households', 'children', 'high_school_diploma',
       'armed_forces', 'Time', 'driving_alone_population',
       'housing_units_built_1940_to_1949', 'female_45_to_49',
       'female_75_to_79', 'motorcycle_population',
       'housing_units_built_1950_to_1959', 'bicycle_population',
       'quintile_4_upper_limit', 'quintile_3_upper_limit',
       'housing_units_10_to_19_units', 'housing_units_built_1970_to_1979',
       'median_household_income', 'women_with_doctoral_degree', 'female_21',
       'female_50_to_54', 'housing_units_built_1980_to_1989',
       'housing_units_built_1930_to_1939', 'female_35_to_39',
       'units_paying_cash_rent', 'housing_units_single_family_attached',
       'housing_units_20_to_49_units', 'female_25_to_29',
       'walking_to_work_population', 'men_with_bachelors_degree',
       'quintile_1_upper_limit', 'quintile_2_upper_limit',
       'women_with_associate_degree', 'female_40_to_44',
       'average_household_size_owners', 'female_30_to_34',
       'housing_units_5_to_9_units', 'single_women',
       'housing_units_built_1990_to_1999',
       'housing_units_single_family_attached_owned',
       'housing_units_over_50_units', 'housing_units_built_1960_to_1969',
       'white_pop_annual_pct_change', 'black_pop_annual_pct_change',
       'hispanic_pop_annual_pct_change', 'children_annual_pct_change',
       'high_school_diploma_annual_pct_change',
       'driving_alone_population_annual_pct_change',
       'housing_units_built_1940_to_1949_annual_pct_change',
       'female_45_to_49_annual_pct_change',
       'female_75_to_79_annual_pct_change',
       'housing_units_built_1950_to_1959_annual_pct_change',
       'quintile_4_upper_limit_annual_pct_change',
       'quintile_3_upper_limit_annual_pct_change',
       'housing_units_10_to_19_units_annual_pct_change',
       'housing_units_built_1970_to_1979_annual_pct_change',
       'median_household_income_annual_pct_change',
       'women_with_doctoral_degree_annual_pct_change',
       'female_21_annual_pct_change', 'female_50_to_54_annual_pct_change',
       'housing_units_built_1980_to_1989_annual_pct_change',
       'housing_units_built_1930_to_1939_annual_pct_change',
       'female_35_to_39_annual_pct_change',
       'units_paying_cash_rent_annual_pct_change',
       'housing_units_single_family_attached_annual_pct_change',
       'housing_units_20_to_49_units_annual_pct_change',
       'female_25_to_29_annual_pct_change',
       'walking_to_work_population_annual_pct_change',
       'men_with_bachelors_degree_annual_pct_change',
       'quintile_1_upper_limit_annual_pct_change',
       'quintile_2_upper_limit_annual_pct_change',
       'women_with_associate_degree_annual_pct_change',
       'female_40_to_44_annual_pct_change',
       'average_household_size_owners_annual_pct_change',
       'female_30_to_34_annual_pct_change',
       'housing_units_5_to_9_units_annual_pct_change',
       'single_women_annual_pct_change',
       'housing_units_built_1990_to_1999_annual_pct_change',
       'housing_units_single_family_attached_owned_annual_pct_change',
       'housing_units_over_50_units_annual_pct_change',
       'housing_units_built_1960_to_1969_annual_pct_change'],
      dtype='object')

(30100, 6) Index(['metro', 'zip_code', 'State', 'Time', 'TNX', 'delta_TNX'], dtype='object')

(54825, 6) Index(['Time', 'monthly_avg_gas_price', 'delta_monthly_avg_gas_price', 'State',
       'metro', 'zip_code'],
      dtype='object')

(18705, 4) Index(['Time', 'rent_search_interest', 'rent_search_4_period_rsi', 'zip_code'], dtype='object')

(19565, 3) Index(['zip_code', 'Time', 'real_disposable_income_per_capita'], dtype='object')

In [17]:
##############################################################################################

dfs = [zori,zori_diff,zori_diff_6,zori_diff_12,
       sales_tax_alloc,new_biz_taxpayer,new_biz_out,
       covid,env_vio,poll,key_econ,weather,
       unemployment_rates,sap_case,tnx,acs,monthly_gas,
       rent_search] 

df_names = ['zori','zori_diff','zori_diff_6','zori_diff_12',
            'sales_tax_alloc','new_biz_taxpayer','new_biz_out',
            'covid','env_vio','poll','key_econ','weather',
            'unemployment_rates','sap_case','tnx','acs','monthly_gas',
            'rent_search']

# Finding order to left merge everything

row_counts = [df.shape[0] for df in dfs]
row_counts = pd.DataFrame(list(enumerate(row_counts))).sort_values(by = 1, ascending = False)
merge_index_order = list(row_counts[0])
merge_index_order

[16, 14, 9, 13, 12, 5, 6, 7, 8, 10, 11, 15, 4, 0, 1, 3, 2, 17]

In [18]:
for df in dfs:
    
    df.loc[:,'Time'] = df['Time'].apply(lambda x: pd.to_datetime(x, format = '%Y-%m'))

for name,df in list(zip(df_names,dfs)):
    print('\n',f'########## {name} ################\n','\n',df.dtypes)

 ########## zori ################

 Time        datetime64[ns]
zip_code             int64
zori_ssa           float64
dtype: object

 ########## zori_diff ################

 Time              datetime64[ns]
zip_code                   int64
delta_zori_ssa           float64
dtype: object

 ########## zori_diff_6 ################

 Time                datetime64[ns]
zip_code                     int64
delta_zori_ssa_6           float64
dtype: object

 ########## zori_diff_12 ################

 Time                 datetime64[ns]
zip_code                      int64
delta_zori_ssa_12           float64
dtype: object

 ########## sales_tax_alloc ################

 Time                         datetime64[ns]
zip_code                              int64
sales_tax_rate                      float64
total_sales_tax                     float64
total_sales_tax_last_year           float64
per_diff_total_sales_tax            float64
city                                 object
dtype: object

 ########## new_biz_taxpayer ################

 Time                         datetime64[ns]
zip_code                              int64
taxpayer_count                      float64
taxpayer_org_type_cl                float64
taxpayer_org_type_is                float64
taxpayer_org_type_foreign           float64
payer_outlet_same_zipcode           float64
taxpayer_same_zip_ratio             float64
taxpayer_cl_ratio                   float64
taxpayer_is_ratio                   float64
taxpayer_foreign_ratio              float64
dtype: object

 ########## new_biz_out ################

 Time                       datetime64[ns]
zip_code                            int64
outlet_count                      float64
outlet_taxpayer_non_tx            float64
outlet_org_type_cl                float64
outlet_org_type_is                float64
outlet_org_type_foreign           float64
outlet_non_tx_ratio               float64
outlet_cl_ratio                   float64
outlet_is_ratio                   float64
outlet_foreign_ratio              float64
dtype: object

 ########## covid ################

 Time          datetime64[ns]
zip_code             float64
county                object
fatalities           float64
caseCount            float64
dtype: object

 ########## env_vio ################

 Time                   datetime64[ns]
zip_code                        int64
env_violation_count           float64
dtype: object

 ########## poll ################

 Time                     datetime64[ns]
tx_is_a_lot_better              float64
tx_is_a_little_better           float64
tx_is_abt_same                  float64
tx_is_a_little_worse            float64
tx_is_a_lot_worse               float64
tx_is_dont_know                 float64
tx_is_better                    float64
tx_is_worse                     float64
zip_code                          int64
dtype: object

 ########## key_econ ################

 Time                                      datetime64[ns]
zip_code                                           int64
Consumer Confidence Index TX                     float64
Consumer Confidence West South Central           float64
Consumer Confidence Index US                     float64
Consumer Price Index TX                          float64
Consumer Price Index U.S.                        float64
Nonfarm Employment TX                            float64
Nonfarm Employment U.S.                          float64
Unemployment TX                                  float64
Unemployment U.S.                                float64
Single Family Building Permits TX                float64
Multi Family Building Permits TX                 float64
Existing Single Family Home Sales TX             float64
Existing Single Family Home Price TX             float64
Non Residential Building Construction            float64
Total Sales Tax Collections Retail TX            float64
Total Sales Tax Collections TX                   float64
Retail Gasoline Price TX                         float64
Retail Diesel Price TX                           float64
Nonfarm Employment Illinois                      float64
Nonfarm Employment Florida                       float64
Nonfarm Employment New York                      float64
Nonfarm Employment Texas                         float64
Nonfarm Employment California                    float64
Gross Value Crude Oil Production                 float64
Gross Value Natural Gas Production               float64
Motor Fuel Taxed Gasoline                        float64
Motor Fuel Taxed Diesel                          float64
dtype: object

 ########## weather ################

 Time        datetime64[ns]
zip_code             int64
mintempC           float64
maxtempC           float64
precipMM           float64
dtype: object

 ########## unemployment_rates ################

 Time        datetime64[ns]
ur                 float64
metro               object
delta_ur           float64
zip_code             int64
dtype: object

 ########## sap_case ################

 metro                                   object
zip_code                                 int64
State                                   object
Time                            datetime64[ns]
sap_case_shiller_index                 float64
delta_sap_case_shiller_index           float64
dtype: object

 ########## tnx ################

 metro                object
zip_code              int64
State                object
Time         datetime64[ns]
TNX                 float64
delta_TNX           float64
dtype: object

 ########## acs ################

 zip_code                                                               float64
white_pop                                                              float64
black_pop                                                              float64
hispanic_pop                                                           float64
female_female_households                                               float64
children                                                               float64
high_school_diploma                                                    float64
armed_forces                                                           float64
Time                                                            datetime64[ns]
driving_alone_population                                                 int64
housing_units_built_1940_to_1949                                         int64
female_45_to_49                                                          int64
female_75_to_79                                                          int64
motorcycle_population                                                    int64
housing_units_built_1950_to_1959                                         int64
bicycle_population                                                       int64
quintile_4_upper_limit                                                   int64
quintile_3_upper_limit                                                   int64
housing_units_10_to_19_units                                             int64
housing_units_built_1970_to_1979                                         int64
median_household_income                                                  int64
women_with_doctoral_degree                                               int64
female_21                                                                int64
female_50_to_54                                                          int64
housing_units_built_1980_to_1989                                         int64
housing_units_built_1930_to_1939                                         int64
female_35_to_39                                                          int64
units_paying_cash_rent                                                   int64
housing_units_single_family_attached                                     int64
housing_units_20_to_49_units                                             int64
                                                                     ...
housing_units_built_1950_to_1959_annual_pct_change                     float64
quintile_4_upper_limit_annual_pct_change                               float64
quintile_3_upper_limit_annual_pct_change                               float64
housing_units_10_to_19_units_annual_pct_change                         float64
housing_units_built_1970_to_1979_annual_pct_change                     float64
median_household_income_annual_pct_change                              float64
women_with_doctoral_degree_annual_pct_change                           float64
female_21_annual_pct_change                                            float64
female_50_to_54_annual_pct_change                                      float64
housing_units_built_1980_to_1989_annual_pct_change                     float64
housing_units_built_1930_to_1939_annual_pct_change                     float64
female_35_to_39_annual_pct_change                                      float64
units_paying_cash_rent_annual_pct_change                               float64
housing_units_single_family_attached_annual_pct_change                 float64
housing_units_20_to_49_units_annual_pct_change                         float64
female_25_to_29_annual_pct_change                                      float64
walking_to_work_population_annual_pct_change                           float64
men_with_bachelors_degree_annual_pct_change                            float64
quintile_1_upper_limit_annual_pct_change                               float64
quintile_2_upper_limit_annual_pct_change                               float64
women_with_associate_degree_annual_pct_change                          float64
female_40_to_44_annual_pct_change                                      float64
average_household_size_owners_annual_pct_change                        float64
female_30_to_34_annual_pct_change                                      float64
housing_units_5_to_9_units_annual_pct_change                           float64
single_women_annual_pct_change                                         float64
housing_units_built_1990_to_1999_annual_pct_change                     float64
housing_units_single_family_attached_owned_annual_pct_change           float64
housing_units_over_50_units_annual_pct_change                          float64
housing_units_built_1960_to_1969_annual_pct_change                     float64
Length: 84, dtype: object

 ########## monthly_gas ################

 Time                           datetime64[ns]
monthly_avg_gas_price                 float64
delta_monthly_avg_gas_price           float64
State                                  object
metro                                  object
zip_code                                int64
dtype: object

 ########## rent_search ################

 Time                        datetime64[ns]
rent_search_interest                 int64
rent_search_4_period_rsi           float64
zip_code                             int64
dtype: object

In [19]:
time_window = pd.DataFrame({name:(df['Time'].min(),df['Time'].max()) for name,df in list(zip(df_names,dfs))})
time_window.loc[:,'feature'] = ['start_date','end_date']
time_window = time_window.set_index('feature').T
time_window.loc[:,'lag_steps'] = [0]*time_window.shape[0]
time_window.loc['sap_case','lag_steps'] = 1
time_window.loc['acs','lag_steps'] = 19
time_window

feature            start_date   end_date  lag_steps
zori               2014-01-01 2021-07-01          0
zori_diff          2014-01-01 2021-07-01          0
zori_diff_6        2014-01-01 2021-07-01          0
zori_diff_12       2014-01-01 2021-07-01          0
sales_tax_alloc    2013-01-01 2021-08-01          0
new_biz_taxpayer   2012-01-01 2021-08-01          0
new_biz_out        2012-01-01 2021-08-01          0
covid              2012-01-01 2021-08-01          0
env_vio            2012-01-01 2021-08-01          0
poll               2011-02-01 2021-07-01          0
key_econ           2012-01-01 2021-08-01          0
weather            2012-01-01 2021-08-01          0
unemployment_rates 2011-07-01 2021-07-01          0
sap_case           2011-06-01 2021-06-01          1
tnx                2010-01-01 2021-08-01          0
acs                2011-01-01 2019-12-01         19
monthly_gas        2000-06-01 2021-08-01          0
rent_search        2014-07-01 2021-09-01          0

In [20]:
def df_lagger(df,level,steps):
    
    """
    Function to lag all columns in a multivariate time series dataframe,
    'Time' column is assumed to be in datetime[64] format.
    
    df: dataframe to be lagged
    level: string, 'days','months',or 'years'
    steps: number of lags to shift w.r.t. chosen level
    
    """
    if (level == 'days'):
        
        df.loc[:,'Time'] = df.Time + pd.DateOffset(days = steps)
    
    
    elif (level == 'months'):
        
        df.loc[:,'Time'] = df.Time + pd.DateOffset(months = steps)
        
        
    elif (level == 'years'):
        
        df.loc[:,'Time'] = df.Time + pd.DateOffset(years = steps)
        
    else:
        
        print('level not days,months,or years')
    
    return df

# Lagging acs and case_shiller

In [21]:
acs = df_lagger(acs,'months',19)
sap_case = df_lagger(sap_case,'months',1)

time_window_post_lag = pd.DataFrame({name:(df['Time'].min(),df['Time'].max()) for name,df in list(zip(df_names,dfs))})
time_window_post_lag.loc[:,'feature'] = ['start_date','end_date']
time_window_post_lag = time_window_post_lag.set_index('feature').T
time_window_post_lag

feature            start_date   end_date
zori               2014-01-01 2021-07-01
zori_diff          2014-01-01 2021-07-01
zori_diff_6        2014-01-01 2021-07-01
zori_diff_12       2014-01-01 2021-07-01
sales_tax_alloc    2013-01-01 2021-08-01
new_biz_taxpayer   2012-01-01 2021-08-01
new_biz_out        2012-01-01 2021-08-01
covid              2012-01-01 2021-08-01
env_vio            2012-01-01 2021-08-01
poll               2011-02-01 2021-07-01
key_econ           2012-01-01 2021-08-01
weather            2012-01-01 2021-08-01
unemployment_rates 2011-07-01 2021-07-01
sap_case           2011-07-01 2021-07-01
tnx                2010-01-01 2021-08-01
acs                2012-08-01 2021-07-01
monthly_gas        2000-06-01 2021-08-01
rent_search        2014-07-01 2021-09-01

In [24]:
def left_merger(df_1,df_2):
    
    """
    left merges onto the larger of two dataframes by their shared columns
    
    df_1: dataframe 1
    
    df_2: dataframe 2
    
    """
    if (len(list(set(list(df_1.columns)).intersection(list(df_2.columns)))) == 0):
        
        raise ValueError('dataframes have no shared columns to merge on!!')
    
    
    if (df_1.shape[0]>= df_2.shape[0]):
        
        a = list(df_1.columns)
        b = list(df_2.columns)
        shared_columns = list(set(a).intersection(b))
        merged = pd.merge(df_1,df_2,how = 'left', on = shared_columns)
        
    else:
        
        a = list(df_1.columns)
        b = list(df_2.columns)
        shared_columns = list(set(a).intersection(b))
        merged = pd.merge(df_2,df_1,how = 'left', on = shared_columns)
        
    return merged

In [25]:
def shared_columns(df_1,df_2):
    
    return list(set(list(df_1.columns)).intersection(list(df_2.columns)))

In [47]:
print(shared_columns(dfs[merge_index_order[0]],dfs[merge_index_order[1]]))
merged = left_merger(dfs[merge_index_order[0]],dfs[merge_index_order[1]])

for i in range(2,len(merge_index_order)):
    
    print(shared_columns(merged,dfs[merge_index_order[i]]))
    
    merged = left_merger(merged,dfs[merge_index_order[i]])

['Time', 'metro', 'zip_code', 'State']
['Time', 'zip_code']
['Time', 'metro', 'zip_code', 'State']
['Time', 'metro', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']
['Time', 'zip_code']

In [48]:
set(merged.columns)

{'Consumer Confidence Index TX',
 'Consumer Confidence Index US',
 'Consumer Confidence West South Central',
 'Consumer Price Index TX',
 'Consumer Price Index U.S.',
 'Existing Single Family Home Price TX',
 'Existing Single Family Home Sales TX',
 'Gross Value Crude Oil Production',
 'Gross Value Natural Gas Production',
 'Motor Fuel Taxed Diesel',
 'Motor Fuel Taxed Gasoline',
 'Multi Family Building Permits TX',
 'Non Residential Building Construction',
 'Nonfarm Employment California',
 'Nonfarm Employment Florida',
 'Nonfarm Employment Illinois',
 'Nonfarm Employment New York',
 'Nonfarm Employment TX',
 'Nonfarm Employment Texas',
 'Nonfarm Employment U.S.',
 'Retail Diesel Price TX',
 'Retail Gasoline Price TX',
 'Single Family Building Permits TX',
 'State',
 'TNX',
 'Time',
 'Total Sales Tax Collections Retail TX',
 'Total Sales Tax Collections TX',
 'Unemployment TX',
 'Unemployment U.S.',
 'armed_forces',
 'average_household_size_owners',
 'average_household_size_owners_annual_pct_change',
 'bicycle_population',
 'black_pop',
 'black_pop_annual_pct_change',
 'caseCount',
 'children',
 'children_annual_pct_change',
 'city',
 'county',
 'delta_TNX',
 'delta_monthly_avg_gas_price',
 'delta_sap_case_shiller_index',
 'delta_ur',
 'delta_zori_ssa',
 'delta_zori_ssa_12',
 'delta_zori_ssa_6',
 'driving_alone_population',
 'driving_alone_population_annual_pct_change',
 'env_violation_count',
 'fatalities',
 'female_21',
 'female_21_annual_pct_change',
 'female_25_to_29',
 'female_25_to_29_annual_pct_change',
 'female_30_to_34',
 'female_30_to_34_annual_pct_change',
 'female_35_to_39',
 'female_35_to_39_annual_pct_change',
 'female_40_to_44',
 'female_40_to_44_annual_pct_change',
 'female_45_to_49',
 'female_45_to_49_annual_pct_change',
 'female_50_to_54',
 'female_50_to_54_annual_pct_change',
 'female_75_to_79',
 'female_75_to_79_annual_pct_change',
 'female_female_households',
 'high_school_diploma',
 'high_school_diploma_annual_pct_change',
 'hispanic_pop',
 'hispanic_pop_annual_pct_change',
 'housing_units_10_to_19_units',
 'housing_units_10_to_19_units_annual_pct_change',
 'housing_units_20_to_49_units',
 'housing_units_20_to_49_units_annual_pct_change',
 'housing_units_5_to_9_units',
 'housing_units_5_to_9_units_annual_pct_change',
 'housing_units_built_1930_to_1939',
 'housing_units_built_1930_to_1939_annual_pct_change',
 'housing_units_built_1940_to_1949',
 'housing_units_built_1940_to_1949_annual_pct_change',
 'housing_units_built_1950_to_1959',
 'housing_units_built_1950_to_1959_annual_pct_change',
 'housing_units_built_1960_to_1969',
 'housing_units_built_1960_to_1969_annual_pct_change',
 'housing_units_built_1970_to_1979',
 'housing_units_built_1970_to_1979_annual_pct_change',
 'housing_units_built_1980_to_1989',
 'housing_units_built_1980_to_1989_annual_pct_change',
 'housing_units_built_1990_to_1999',
 'housing_units_built_1990_to_1999_annual_pct_change',
 'housing_units_over_50_units',
 'housing_units_over_50_units_annual_pct_change',
 'housing_units_single_family_attached',
 'housing_units_single_family_attached_annual_pct_change',
 'housing_units_single_family_attached_owned',
 'housing_units_single_family_attached_owned_annual_pct_change',
 'maxtempC',
 'median_household_income',
 'median_household_income_annual_pct_change',
 'men_with_bachelors_degree',
 'men_with_bachelors_degree_annual_pct_change',
 'metro',
 'mintempC',
 'monthly_avg_gas_price',
 'motorcycle_population',
 'outlet_cl_ratio',
 'outlet_count',
 'outlet_foreign_ratio',
 'outlet_is_ratio',
 'outlet_non_tx_ratio',
 'outlet_org_type_cl',
 'outlet_org_type_foreign',
 'outlet_org_type_is',
 'outlet_taxpayer_non_tx',
 'payer_outlet_same_zipcode',
 'per_diff_total_sales_tax',
 'precipMM',
 'quintile_1_upper_limit',
 'quintile_1_upper_limit_annual_pct_change',
 'quintile_2_upper_limit',
 'quintile_2_upper_limit_annual_pct_change',
 'quintile_3_upper_limit',
 'quintile_3_upper_limit_annual_pct_change',
 'quintile_4_upper_limit',
 'quintile_4_upper_limit_annual_pct_change',
 'rent_search_4_period_rsi',
 'rent_search_interest',
 'sales_tax_rate',
 'sap_case_shiller_index',
 'single_women',
 'single_women_annual_pct_change',
 'taxpayer_cl_ratio',
 'taxpayer_count',
 'taxpayer_foreign_ratio',
 'taxpayer_is_ratio',
 'taxpayer_org_type_cl',
 'taxpayer_org_type_foreign',
 'taxpayer_org_type_is',
 'taxpayer_same_zip_ratio',
 'total_sales_tax',
 'total_sales_tax_last_year',
 'tx_is_a_little_better',
 'tx_is_a_little_worse',
 'tx_is_a_lot_better',
 'tx_is_a_lot_worse',
 'tx_is_abt_same',
 'tx_is_better',
 'tx_is_dont_know',
 'tx_is_worse',
 'units_paying_cash_rent',
 'units_paying_cash_rent_annual_pct_change',
 'ur',
 'walking_to_work_population',
 'walking_to_work_population_annual_pct_change',
 'white_pop',
 'white_pop_annual_pct_change',
 'women_with_associate_degree',
 'women_with_associate_degree_annual_pct_change',
 'women_with_doctoral_degree',
 'women_with_doctoral_degree_annual_pct_change',
 'zip_code',
 'zori_ssa'}

### XGBoost

In [55]:
# data = merged[['Time','zip_code','delta_zori_ssa','delta_sap_case_shiller_index','Single Family Building Permits TX','Total Sales Tax Collections TX','Gross Value Natural Gas Production']]

data = merged.copy()
# data = data.set_index('Time')

num_zips = len(np.unique(data['zip_code']))

# data.loc[:,'delta_zori_ssa_6_shift_back_1'] = data.loc[:,'delta_zori_ssa_6'].shift(-1*num_zips)
data.loc[:,'zori_ssa_shift_back_1'] = data.loc[:,'zori_ssa'].shift(-1*num_zips)
data.loc[:,'rent_search_4_period_rsi'] = data.loc[:,'rent_search_4_period_rsi'].shift(-1*num_zips)

# acs_cols = list(acs.drop(['Time','zip_code'],axis = 1).columns)

# for col in acs_cols:
#     data.loc[:,col+'_backshift_1_year'] = data.loc[:,col].shift(-12*num_zips)

data = data.loc[~data.isna().any(axis = 1)]

data.isna().any()

Time                                                            False
monthly_avg_gas_price                                           False
delta_monthly_avg_gas_price                                     False
State                                                           False
metro                                                           False
zip_code                                                        False
TNX                                                             False
delta_TNX                                                       False
tx_is_a_lot_better                                              False
tx_is_a_little_better                                           False
tx_is_abt_same                                                  False
tx_is_a_little_worse                                            False
tx_is_a_lot_worse                                               False
tx_is_dont_know                                                 False
tx_is_better                                                    False
tx_is_worse                                                     False
sap_case_shiller_index                                          False
delta_sap_case_shiller_index                                    False
ur                                                              False
delta_ur                                                        False
taxpayer_count                                                  False
taxpayer_org_type_cl                                            False
taxpayer_org_type_is                                            False
taxpayer_org_type_foreign                                       False
payer_outlet_same_zipcode                                       False
taxpayer_same_zip_ratio                                         False
taxpayer_cl_ratio                                               False
taxpayer_is_ratio                                               False
taxpayer_foreign_ratio                                          False
outlet_count                                                    False
                                                                ...
units_paying_cash_rent_annual_pct_change                        False
housing_units_single_family_attached_annual_pct_change          False
housing_units_20_to_49_units_annual_pct_change                  False
female_25_to_29_annual_pct_change                               False
walking_to_work_population_annual_pct_change                    False
men_with_bachelors_degree_annual_pct_change                     False
quintile_1_upper_limit_annual_pct_change                        False
quintile_2_upper_limit_annual_pct_change                        False
women_with_associate_degree_annual_pct_change                   False
female_40_to_44_annual_pct_change                               False
average_household_size_owners_annual_pct_change                 False
female_30_to_34_annual_pct_change                               False
housing_units_5_to_9_units_annual_pct_change                    False
single_women_annual_pct_change                                  False
housing_units_built_1990_to_1999_annual_pct_change              False
housing_units_single_family_attached_owned_annual_pct_change    False
housing_units_over_50_units_annual_pct_change                   False
housing_units_built_1960_to_1969_annual_pct_change              False
sales_tax_rate                                                  False
total_sales_tax                                                 False
total_sales_tax_last_year                                       False
per_diff_total_sales_tax                                        False
city                                                            False
zori_ssa                                                        False
delta_zori_ssa                                                  False
delta_zori_ssa_12                                               False
delta_zori_ssa_6                                                False
rent_search_interest                                            False
rent_search_4_period_rsi                                        False
zori_ssa_shift_back_1                                           False
Length: 166, dtype: bool

In [56]:
data.loc[:,'Date'] = data.loc[:,'Time'].apply(lambda x: str(x)[:-9])

data = data.set_index('Date')

In [57]:
data.head(1)

,Time,monthly_avg_gas_price,delta_monthly_avg_gas_price,State,metro,zip_code,TNX,delta_TNX,tx_is_a_lot_better,tx_is_a_little_better,...,total_sales_tax_last_year,per_diff_total_sales_tax,city,zori_ssa,delta_zori_ssa,delta_zori_ssa_12,delta_zori_ssa_6,rent_search_interest,rent_search_4_period_rsi,zori_ssa_shift_back_1
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,2015-01-01,1.889,-0.415,TX,Austin,78727,1.675,-0.495,6.0,21.0,...,14547762.79,0.51,AUSTIN,1152.0,4.0,9.0,10.0,72.0,72.77152,1157.0

In [58]:
data.tail(1)

,Time,monthly_avg_gas_price,delta_monthly_avg_gas_price,State,metro,zip_code,TNX,delta_TNX,tx_is_a_lot_better,tx_is_a_little_better,...,total_sales_tax_last_year,per_diff_total_sales_tax,city,zori_ssa,delta_zori_ssa,delta_zori_ssa_12,delta_zori_ssa_6,rent_search_interest,rent_search_4_period_rsi,zori_ssa_shift_back_1
Date,,,,,,,,,,,,,,,,,,,,,
2020-07-01,2020-07-01,1.859,0.13,TX,San Antonio,78252,0.536,-0.117,6.0,18.0,...,28841764.55,-3.64,SAN ANTONIO,1477.0,4.0,40.0,27.0,60.0,56.318689,1484.0

# Train Test Split

In [59]:
train = data.loc['2015-01-01':'2019-12-01',:]
test = data.loc['2020-01-01':,:]

In [79]:
import time

X_train = train.drop(['zori_ssa_shift_back_1','zori_ssa','delta_zori_ssa','delta_zori_ssa_12','delta_zori_ssa_6','Time','State','metro','zip_code','city','county'],axis = 1)
# X_train = train[['zori_ssa_shift_back_6','delta_zori_ssa_shift_back_6',
#                  'delta_zori_ssa_6_shift_back_6','delta_zori_ssa_12_shift_back_6',
#                  'delta_zori_ssa_6_shift_back_1']]
X_test = test.drop(['zori_ssa_shift_back_1','zori_ssa','delta_zori_ssa','delta_zori_ssa_12','delta_zori_ssa_6','Time','State','metro','zip_code','city','county'],axis = 1)
# X_test = test[['zori_ssa_shift_back_6','delta_zori_ssa_shift_back_6',
#                'delta_zori_ssa_6_shift_back_6','delta_zori_ssa_12_shift_back_6',
#               'delta_zori_ssa_6_shift_back_1']]
y_train = train['zori_ssa']
y_test = test['zori_ssa']

In [80]:
X_train.dtypes

monthly_avg_gas_price                                           float64
delta_monthly_avg_gas_price                                     float64
TNX                                                             float64
delta_TNX                                                       float64
tx_is_a_lot_better                                              float64
tx_is_a_little_better                                           float64
tx_is_abt_same                                                  float64
tx_is_a_little_worse                                            float64
tx_is_a_lot_worse                                               float64
tx_is_dont_know                                                 float64
tx_is_better                                                    float64
tx_is_worse                                                     float64
sap_case_shiller_index                                          float64
delta_sap_case_shiller_index                                    float64
ur                                                              float64
delta_ur                                                        float64
taxpayer_count                                                  float64
taxpayer_org_type_cl                                            float64
taxpayer_org_type_is                                            float64
taxpayer_org_type_foreign                                       float64
payer_outlet_same_zipcode                                       float64
taxpayer_same_zip_ratio                                         float64
taxpayer_cl_ratio                                               float64
taxpayer_is_ratio                                               float64
taxpayer_foreign_ratio                                          float64
outlet_count                                                    float64
outlet_taxpayer_non_tx                                          float64
outlet_org_type_cl                                              float64
outlet_org_type_is                                              float64
outlet_org_type_foreign                                         float64
                                                                 ...
women_with_doctoral_degree_annual_pct_change                    float64
female_21_annual_pct_change                                     float64
female_50_to_54_annual_pct_change                               float64
housing_units_built_1980_to_1989_annual_pct_change              float64
housing_units_built_1930_to_1939_annual_pct_change              float64
female_35_to_39_annual_pct_change                               float64
units_paying_cash_rent_annual_pct_change                        float64
housing_units_single_family_attached_annual_pct_change          float64
housing_units_20_to_49_units_annual_pct_change                  float64
female_25_to_29_annual_pct_change                               float64
walking_to_work_population_annual_pct_change                    float64
men_with_bachelors_degree_annual_pct_change                     float64
quintile_1_upper_limit_annual_pct_change                        float64
quintile_2_upper_limit_annual_pct_change                        float64
women_with_associate_degree_annual_pct_change                   float64
female_40_to_44_annual_pct_change                               float64
average_household_size_owners_annual_pct_change                 float64
female_30_to_34_annual_pct_change                               float64
housing_units_5_to_9_units_annual_pct_change                    float64
single_women_annual_pct_change                                  float64
housing_units_built_1990_to_1999_annual_pct_change              float64
housing_units_single_family_attached_owned_annual_pct_change    float64
housing_units_over_50_units_annual_pct_change                   float64
housing_units_built_1960_to_1969_annual_pct_change              float64
sales_tax_rate                                                  float64
total_sales_tax                                                 float64
total_sales_tax_last_year                                       float64
per_diff_total_sales_tax                                        float64
rent_search_interest                                            float64
rent_search_4_period_rsi                                        float64
Length: 155, dtype: object

In [81]:
from xgboost import XGBRegressor

In [88]:
model = XGBRegressor(objective = 'reg:squarederror', n_estimators = 1000)
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=1000, n_jobs=8, num_parallel_tree=1,
       objective='reg:squarederror', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
       validate_parameters=1, verbosity=None)

In [89]:
model.score(X_test,y_test)

0.9453067557238163