In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Load main frame

In [2]:
all_vars = pd.read_csv('all_vars.csv', index_col=0, parse_dates=['Time'])
# all_vars.head()

In [3]:
## Set target here:
target_name = 'zori_ssa'

In [4]:
all_vars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19780 entries, 0 to 19779
Data columns (total 80 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Time                                    19780 non-null  datetime64[ns]
 1   zip_code                                19780 non-null  int64
 2   zori_ssa                                19780 non-null  float64
 3   mintempC                                19780 non-null  float64
 4   maxtempC                                19780 non-null  float64
 5   precipMM                                19780 non-null  float64
 6   env_violation_count                     19780 non-null  float64
 7   num_daycare_permit                      19780 non-null  float64
 8   daycare_childcare_subsidies_ratio       19780 non-null  float64
 9   daycare_corrective_action_ratio         19780 non-null  float64
 10  daycare_adverse_action_ratio            19780 non-null  float64
 11  Consumer Confidence Index TX            19780 non-null  float64
 12  Consumer Confidence West South Central  19780 non-null  float64
 13  Consumer Confidence Index US            19780 non-null  float64
 14  Consumer Price Index TX                 19780 non-null  float64
 15  Consumer Price Index U.S.               19780 non-null  float64
 16  Nonfarm Employment TX                   19780 non-null  float64
 17  Nonfarm Employment U.S.                 19780 non-null  float64
 18  Unemployment TX                         19780 non-null  float64
 19  Unemployment U.S.                       19780 non-null  float64
 20  Single Family Building Permits TX       19780 non-null  float64
 21  Multi Family Building Permits TX        19780 non-null  float64
 22  Existing Single Family Home Sales TX    19780 non-null  float64
 23  Existing Single Family Home Price TX    19780 non-null  float64
 24  Non Residential Building Construction   19780 non-null  float64
 25  Total Sales Tax Collections Retail TX   19780 non-null  float64
 26  Total Sales Tax Collections TX          19780 non-null  float64
 27  Retail Gasoline Price TX                19780 non-null  float64
 28  Retail Diesel Price TX                  19780 non-null  float64
 29  Nonfarm Employment Illinois             19780 non-null  float64
 30  Nonfarm Employment Florida              19780 non-null  float64
 31  Nonfarm Employment New York             19780 non-null  float64
 32  Nonfarm Employment Texas                19780 non-null  float64
 33  Nonfarm Employment California           19780 non-null  float64
 34  Gross Value Crude Oil Production        19780 non-null  float64
 35  Gross Value Natural Gas Production      19780 non-null  float64
 36  Motor Fuel Taxed Gasoline               19780 non-null  float64
 37  Motor Fuel Taxed Diesel                 19780 non-null  float64
 38  State                                   19780 non-null  object
 39  ur                                      19780 non-null  float64
 40  metro                                   19780 non-null  object
 41  delta_ur                                19780 non-null  float64
 42  monthly_avg_gas_price                   19780 non-null  float64
 43  delta_monthly_avg_gas_price             19780 non-null  float64
 44  TNX                                     19780 non-null  float64
 45  delta_TNX                               19780 non-null  float64
 46  tx_is_a_lot_better                      19780 non-null  float64
 47  tx_is_a_little_better                   19780 non-null  float64
 48  tx_is_abt_same                          19780 non-null  float64
 49  tx_is_a_little_worse                    19780 non-null  float64
 50  tx_is_a_lot_worse                       19780 non-null  float64
 51  tx_is_dont_know                         19780 non-null  float64
 52  tx_is_better                            19780 non-null  float64
 53  tx_is_worse                             19780 non-null  float64
 54  county                                  19780 non-null  object
 55  fatalities                              19780 non-null  float64
 56  caseCount                               19780 non-null  float64
 57  outlet_count                            19780 non-null  float64
 58  outlet_taxpayer_non_tx                  19780 non-null  float64
 59  outlet_org_type_cl                      19780 non-null  float64
 60  outlet_org_type_is                      19780 non-null  float64
 61  outlet_org_type_foreign                 19780 non-null  float64
 62  outlet_count_right                      19780 non-null  float64
 63  outlet_taxpayer_non_tx_right            19780 non-null  float64
 64  outlet_org_type_cl_right                19780 non-null  float64
 65  outlet_org_type_is_right                19780 non-null  float64
 66  outlet_org_type_foreign_right           19780 non-null  float64
 67  taxpayer_count                          19780 non-null  float64
 68  taxpayer_org_type_cl                    19780 non-null  float64
 69  taxpayer_org_type_is                    19780 non-null  float64
 70  taxpayer_org_type_foreign               19780 non-null  float64
 71  payer_outlet_same_zipcode               19780 non-null  float64
 72  liquor_permit_start                     19780 non-null  float64
 73  sales_tax_rate                          19780 non-null  float64
 74  total_sales_tax                         19780 non-null  float64
 75  total_sales_tax_last_year               19780 non-null  float64
 76  per_diff_total_sales_tax                19780 non-null  float64
 77  city                                    19780 non-null  object
 78  sap_case_shiller_index                  19780 non-null  float64
 79  delta_sap_case_shiller_index            19780 non-null  float64
dtypes: datetime64[ns](1), float64(74), int64(1), object(4)
memory usage: 12.2+ MB

In [5]:
## Get target, categorical and numerical features
target = all_vars[target_name]
categorical_features = all_vars.select_dtypes(exclude=['float64', 'int64'])
numerical_features = all_vars.select_dtypes(['datetime','float64', 'int64'])

In [6]:
categorical_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19780 entries, 0 to 19779
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    19780 non-null  datetime64[ns]
 1   State   19780 non-null  object
 2   metro   19780 non-null  object
 3   county  19780 non-null  object
 4   city    19780 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 927.2+ KB

In [7]:
numerical_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19780 entries, 0 to 19779
Data columns (total 76 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Time                                    19780 non-null  datetime64[ns]
 1   zip_code                                19780 non-null  int64
 2   zori_ssa                                19780 non-null  float64
 3   mintempC                                19780 non-null  float64
 4   maxtempC                                19780 non-null  float64
 5   precipMM                                19780 non-null  float64
 6   env_violation_count                     19780 non-null  float64
 7   num_daycare_permit                      19780 non-null  float64
 8   daycare_childcare_subsidies_ratio       19780 non-null  float64
 9   daycare_corrective_action_ratio         19780 non-null  float64
 10  daycare_adverse_action_ratio            19780 non-null  float64
 11  Consumer Confidence Index TX            19780 non-null  float64
 12  Consumer Confidence West South Central  19780 non-null  float64
 13  Consumer Confidence Index US            19780 non-null  float64
 14  Consumer Price Index TX                 19780 non-null  float64
 15  Consumer Price Index U.S.               19780 non-null  float64
 16  Nonfarm Employment TX                   19780 non-null  float64
 17  Nonfarm Employment U.S.                 19780 non-null  float64
 18  Unemployment TX                         19780 non-null  float64
 19  Unemployment U.S.                       19780 non-null  float64
 20  Single Family Building Permits TX       19780 non-null  float64
 21  Multi Family Building Permits TX        19780 non-null  float64
 22  Existing Single Family Home Sales TX    19780 non-null  float64
 23  Existing Single Family Home Price TX    19780 non-null  float64
 24  Non Residential Building Construction   19780 non-null  float64
 25  Total Sales Tax Collections Retail TX   19780 non-null  float64
 26  Total Sales Tax Collections TX          19780 non-null  float64
 27  Retail Gasoline Price TX                19780 non-null  float64
 28  Retail Diesel Price TX                  19780 non-null  float64
 29  Nonfarm Employment Illinois             19780 non-null  float64
 30  Nonfarm Employment Florida              19780 non-null  float64
 31  Nonfarm Employment New York             19780 non-null  float64
 32  Nonfarm Employment Texas                19780 non-null  float64
 33  Nonfarm Employment California           19780 non-null  float64
 34  Gross Value Crude Oil Production        19780 non-null  float64
 35  Gross Value Natural Gas Production      19780 non-null  float64
 36  Motor Fuel Taxed Gasoline               19780 non-null  float64
 37  Motor Fuel Taxed Diesel                 19780 non-null  float64
 38  ur                                      19780 non-null  float64
 39  delta_ur                                19780 non-null  float64
 40  monthly_avg_gas_price                   19780 non-null  float64
 41  delta_monthly_avg_gas_price             19780 non-null  float64
 42  TNX                                     19780 non-null  float64
 43  delta_TNX                               19780 non-null  float64
 44  tx_is_a_lot_better                      19780 non-null  float64
 45  tx_is_a_little_better                   19780 non-null  float64
 46  tx_is_abt_same                          19780 non-null  float64
 47  tx_is_a_little_worse                    19780 non-null  float64
 48  tx_is_a_lot_worse                       19780 non-null  float64
 49  tx_is_dont_know                         19780 non-null  float64
 50  tx_is_better                            19780 non-null  float64
 51  tx_is_worse                             19780 non-null  float64
 52  fatalities                              19780 non-null  float64
 53  caseCount                               19780 non-null  float64
 54  outlet_count                            19780 non-null  float64
 55  outlet_taxpayer_non_tx                  19780 non-null  float64
 56  outlet_org_type_cl                      19780 non-null  float64
 57  outlet_org_type_is                      19780 non-null  float64
 58  outlet_org_type_foreign                 19780 non-null  float64
 59  outlet_count_right                      19780 non-null  float64
 60  outlet_taxpayer_non_tx_right            19780 non-null  float64
 61  outlet_org_type_cl_right                19780 non-null  float64
 62  outlet_org_type_is_right                19780 non-null  float64
 63  outlet_org_type_foreign_right           19780 non-null  float64
 64  taxpayer_count                          19780 non-null  float64
 65  taxpayer_org_type_cl                    19780 non-null  float64
 66  taxpayer_org_type_is                    19780 non-null  float64
 67  taxpayer_org_type_foreign               19780 non-null  float64
 68  payer_outlet_same_zipcode               19780 non-null  float64
 69  liquor_permit_start                     19780 non-null  float64
 70  sales_tax_rate                          19780 non-null  float64
 71  total_sales_tax                         19780 non-null  float64
 72  total_sales_tax_last_year               19780 non-null  float64
 73  per_diff_total_sales_tax                19780 non-null  float64
 74  sap_case_shiller_index                  19780 non-null  float64
 75  delta_sap_case_shiller_index            19780 non-null  float64
dtypes: datetime64[ns](1), float64(74), int64(1)
memory usage: 11.6 MB

## First Multilinear model

In [8]:

# housing_df_standard_scale=pd.DataFrame(StandardScaler().fit_transform(housing_df))

In [10]:
numerical_features = numerical_features.drop(['Time', 'zip_code'], axis=1)
scaler = StandardScaler()
scaled_frame = pd.DataFrame(scaler.fit_transform(numerical_features), columns=list(numerical_features.columns))

In [11]:
scaled_frame

,zori_ssa,mintempC,maxtempC,precipMM,env_violation_count,num_daycare_permit,daycare_childcare_subsidies_ratio,daycare_corrective_action_ratio,daycare_adverse_action_ratio,Consumer Confidence Index TX,...,taxpayer_org_type_is,taxpayer_org_type_foreign,payer_outlet_same_zipcode,liquor_permit_start,sales_tax_rate,total_sales_tax,total_sales_tax_last_year,per_diff_total_sales_tax,sap_case_shiller_index,delta_sap_case_shiller_index
0,0.205330,-1.545399,-1.358940,-0.939263,0.932785,7.982252,8.049586,-0.00711,-0.010056,-1.223551,...,0.020580,-0.126624,0.895862,-0.401273,-0.771966,-0.934484,-0.918745,-0.451103,-1.093466,0.649609
1,0.193462,-1.205614,-1.157713,-0.100263,-0.041066,-0.170852,-0.127831,-0.00711,-0.010056,-0.798766,...,-0.603763,-0.126624,-0.051993,-0.401273,-0.771966,-0.910030,-0.901654,0.517107,-1.077216,0.594480
2,0.181594,-0.843778,-0.755874,-0.444835,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,-0.979481,...,-0.603763,-0.126624,-0.431135,-0.401273,-0.771966,-0.939245,-0.923486,-0.468218,-1.034719,0.359392
3,0.169727,-0.202341,-0.041097,-0.631768,0.251089,-0.170852,-0.127831,-0.00711,-0.010056,-0.312321,...,-0.291591,-0.126624,0.327149,5.306133,-0.771966,-0.940555,-0.925830,-0.267730,-0.977326,0.164699
4,0.161815,0.292848,0.424413,0.272503,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,0.336428,...,-0.603763,-0.126624,0.327149,1.641719,-0.771966,-0.927831,-0.912313,-0.403834,-0.922061,-0.021915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19775,0.818497,-0.478935,-0.355266,-0.997085,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,0.003287,...,0.332751,-0.126624,0.137578,-0.401273,-0.143126,0.633219,0.670012,-0.440508,1.632886,2.802160
19776,0.858056,-0.163674,0.110244,-0.218712,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,0.120179,...,0.644922,-0.126624,0.327149,-0.401273,-0.143126,0.414296,0.564036,-1.060717,1.815834,3.374199
19777,0.897616,0.475269,0.389952,1.289012,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,0.353962,...,1.581436,-0.126624,0.327149,-0.401273,-0.143126,1.346282,0.810101,2.246521,1.999201,4.075030
19778,0.937175,0.957672,0.960424,-0.087088,-0.138451,-0.170852,-0.127831,-0.00711,-0.010056,0.447476,...,-0.291591,-0.126624,-0.620706,-0.401273,-0.143126,0.928245,0.490089,2.253856,2.178731,4.747029
19779,0.976734,1.078663,1.079171,-0.604896,-0.138451,3.905700,-0.127831,-0.00711,-0.010056,-0.364922,...,-0.291591,-0.126624,-0.431135,-0.401273,-0.143126,0.954773,0.642407,1.359809,-6.232413,-1.737081

In [12]:
y = scaled_frame[target_name]
X = scaled_frame.drop(['zori_ssa'], axis=1)

In [13]:
lm = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
lm.fit(X_train, y_train)
print(f'train_score: {lm.score(X_train, y_train)}')
print(f'test_score: {lm.score(X_test, y_test)}')

train_score: 0.23589181089194566
test_score: 0.21079698925917212

In [16]:
coef_table = pd.DataFrame({'Feature':X.columns, 'Coef':lm.coef_, 'AbsVal':np.abs(lm.coef_)})
coef_table = coef_table.sort_values('AbsVal', ascending=False)
top10 = coef_table.head(10)
top10

                     Feature          Coef        AbsVal
48               tx_is_worse -1.441243e+12  1.441243e+12
44      tx_is_a_little_worse  9.614080e+11  9.614080e+11
45         tx_is_a_lot_worse  5.947059e+11  5.947059e+11
37     monthly_avg_gas_price  1.851607e+01  1.851607e+01
24  Retail Gasoline Price TX -1.838947e+01  1.838947e+01
29  Nonfarm Employment Texas -1.212122e+01  1.212122e+01
13     Nonfarm Employment TX  1.184540e+01  1.184540e+01
49                fatalities -7.999325e-01  7.999325e-01
50                 caseCount  7.862346e-01  7.862346e-01
1                   maxtempC -6.688680e-01  6.688680e-01

#### Putting all numerical features in, train_score is 23.5899% and test score is 21.0939%